<#import "parts/common.ftlh" as c>
<#import "parts/notification.ftlh" as n>

<@c.page>
    <@n.both/>
    <div align="center">
        <div class="col-sm-6">
            <h3><p align="center">Оставьте отзыв</p></h3>
        </div>
        <div class="col-sm-6" align="center">
            <div class="card">
                <div class="card-body">
                    <form action="/feedback" method="post">
                        <h6 align="left">Новый отзыв</h6>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-12" align="center">
                                <input type="text" name="comment" placeholder="<Комментарий>" class="form-control"/>
                            </div>
                        </div>
                        <div align="right">
                            <h6>Не более 200 символов</h6>
                        </div>
                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                        <div align="center">
                            <button class="btn btn-primary mt-2" type="submit">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div align="center">
        <div class="col-sm-6">
            <p></p>
            <h3><p align="center">Все отзывы: </p></h3>
        </div>
    </div>
    <div class="card-columns mt-3">
        <#list comments as comments>
            <div class="card border-dark mb-3" style="max-width: 24rem;">
                <div class="card-header">От пользователя '${comments.fromUser}':</div>
                <div class="card-body">
                    <h5 class="card-title">${comments.comment}</h5>
                    <div class="row mt-4">
                        <div class="col" align="left">
                            <div align="left">
                                <p class="card-text">${comments.date}</p>
                            </div>
                        </div>
                        <div class="col">
                            <div align="right">
                                <form method="post" action="/feedback/delete">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button class="btn btn-primary mt-2" value="${comments.id}" name="id" type="submit">
                                        удалить
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <#else>
            <div align="center">
                К сожалению, тут пока пусто
            </div>
        </#list>
    </div>
</@c.page>