<#import "parts/common.ftlh" as c>
<#import "parts/notification.ftlh" as n>

<@c.page>
    <#if isADMIN>
        <form method="post" action="deleteAll">
            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
            <button class="btn btn-primary" type="submit">Удалить все</button>
        </form>
    </#if>

    <@n.notification/>

    <form method="get" action="/history" class="form-inline offset-md-3">
        <div class="col-sm-3 offset-md-2">
            <input type="Date" name="date" value="${dateToFront}" class="form-control"/>
        </div>
        <p></p>
        <button class="btn btn-primary" type="submit">Найти</button>
    </form>
    <p></p>
    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    <table align="center">
    <#if isHistoryEmpty = false>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <#if isADMIN = true>

                <th>
                    <div align="center">ID пользователя</div>
                </th>

            </#if>
            <th>
                <div align="center">Исходная валюта</div>
            </th>
            <th>
                <div align="center">Целевая валюта <p></p></div>
            </th>
            <th>
                <div align="center">Исходная сумма</div>
            </th>
            <th>
                <div align="center">Получаемая сумма</div>
            </th>
            <th>
                <div align="center">Дата <p></p></div>
            </th>
            <th>
                <div align="center">Действие <p></p></div>
            </th>
        </tr>
        </thead>
        <tbody>
        <#list HISTORIES as HISTORIES>
        <tr>
            <#if isADMIN>
                <td>
                    <div align="center"><p></p>${HISTORIES.USERID}</div>
                </td>
            </#if>
            <td>
                <div align="center">${HISTORIES.ORIGINAL_CURRENCY}</div>
            </td>
            <td>
                <div align="center">${HISTORIES.TARGET_CURRENCY}</div>
            </td>
            <td>
                <div align="center"><p></p>${HISTORIES.AMOUNT_RECEIVED}</div>
            </td>
            <td>
                <div align="center"><p></p>${HISTORIES.TOTAL_AMOUNT}</div>
            </td>
            <td>
                <div align="center">
                    <output typeof="date"><p></p>${HISTORIES.DATE}</output>
                </div>
            </td>
            <td>
                <form method="post" action="/delete">
                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                    <button class="btn btn-primary mt-2" value="${HISTORIES.ID}" name="id" type="submit">удалить
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
        </#list>
        <#else>
            <h2><p align="center">К сожалению, конвертации не найдены.</p></h2>
        </#if>
    </table>


</@c.page>