.form_output {
    font-size: 20px;
    width: 1050px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
}

.amountReceived {
    float: left;
    width: 300px;
}

.received {
    height: 20px;
    width: 332px;
}

.wrapper {
    margin-top: 10px;
}

.empty {
    width: 300px;
    height: 74px;
}
