table {
    border-collapse: collapse;
    vertical-align: middle;
}

td, th {
    border: 1px solid #999;
    padding: 5px;
    vertical-align: middle;
}

.empty {
    width: 300px;
    height: 74px;
}

.thead-dark{
    vertical-align: middle;
}

.alert {
    width: 30%;
}

.col {
    width: 30%;
}

.cell{
    vertical-align: text-top;
    text-align: center;
}
